@import "node_modules/compass-sass-mixins/lib/compass";

@import "imports/screen";
@import "imports/mixin";
@import "imports/module";
@import "icon/style";

@include global-reset();

$container-width: 1080px;
$color-1: #F95959;
$color-2: #E3E3E3;
$color-3: #455D7A;
$color-4: #233142;
$shadow: 1px 3px 5px rgba(0,0,0,0.3);
$bottom-color: rgba(0,0,0,.5);

body, html {
	font-family: "Helvetica Neue",Helvetica,"segoe ui","microsoft jhenghei","microsoft mhei",stheititc,sans-serif;
	// font-family: 'Source Sans Pro', sans-serif;
}

.ckb {
	position: fixed;
	top: -999px;
	left: -999px;
	display: none;
	@include opacity(0);
}

nav {
	display: block;
	width: 100%;
	background-color: $color-2;
	z-index: 20;
	.container {
		text-align: center;
		max-width: $container-width;
		width: 100%;
		margin: 0 auto;
		padding: 20px 28px;
		z-index: 10;
		@include transition(padding, .3s);
		@include clearfix();

		@include bigPhone() {
			padding: 12px;
		}
		> * {
			display: inline-block;
			font-weight: bold;
			height: 40px;
			line-height: 40px;
		}
		h1 a {
			font-size: 32px;
			color: $color-4;
			@include bigPhone(){
				font-size: 24px;
			}
		}
	}
}

.content {
	display: inline-block;
	width: 100%;
	background-color: white;

	.container {
		display: block;
		max-width: $container-width;
		min-height: calc(100vh - 80px);
		height: auto;
		width: 100%;
		margin: 0 auto;
		padding: 30px 10px;
		@include clearfix();
		@include minDesktop() {
			padding: 20px;
		}
		@include bigPhone() {
			padding: 8px;
		}

		> div {
			width: calc(50% - 8px);
			display: inline-block;
			float: left;
			padding: 20px;
			margin: 4px;
			border: 1px solid rgba(0,0,0,0.2);
			box-shadow: 1px 3px 1px rgba(0,0,0,0.2);
			@include border-radius(8px);
			@include transition(width, .3s);
			@include bigPhone() {
				margin: 0;
			}
		}
		.info-list {
			// width: 100%;
			// width: calc(50% - 8px);
			
			@include bigPhone() {
				width: 100%;
				padding: 12px;
				margin-top: 15px;
			}
			header {
				color: $color-4;
				padding-bottom: 10px;
				margin-bottom: 12px;
				font-size: 20px;
				border-bottom: 2px solid rgba(0,0,0,.2);
				span {
					margin-right: 10px;
					&.hover-style {
						display: inline-block;
						font-size: 24px;
						border: 1px solid #ddd;
						@include border-radius(4px);
						&:hover {
							color: white;
						}
					}
				}
			}
			.form-select {
				margin: 5px auto;
				width: 90%;
				select {
					width: 100%;
					color: rgba(0,0,0,0.8);
					font-size: 16px;
					padding: 3px;
					border: 1px solid rgba(0,0,0,0.3);
					@include border-radius(4px);
					&:focus {
						border: 1px solid rgba(0,0,0,0.5);
						outline: none;
						background-color: rgba(235,235,235,.2);
					}
				}
			}
			.form-search {
				position: relative;
				width: 90%;
				margin: 0 auto;
				margin-bottom: 16px;

				> * {
					height: 30px;
					line-height: 30px;
					font-size: 16px;
					&, &:focus {
						border: 0;
						outline: none;
					}
				}

				input {
					background-color: rgba(235,235,235,.9);
					width: 100%;
					padding: 15px;
					@include border-radius(4px);
					&:focus {
						background-color: rgba(235,235,235,.7);
					}
				}
				span {
					position: absolute;
					top: 0;
					right: 10px;
					cursor: pointer;
					@include opacity(.6);

					&:hover {
						@include opacity(.8);
					}
				}
			}
			.warning {
				display: block;
			    width: 100%;
			    text-align: center;
			    font-weight: bold;
			    margin-top: 20px;
				color: $color-1;
			}
			> h2 {
				float: right;
				font-size: 14px;
				padding-right: 16px;
				font-style: italic;
				color: rgba(0,0,0,.6);
			}
			.info-each {
				display: flex;
				align-items: center;
				width: 100%;
				position: relative;
				cursor: pointer;
				border-bottom: 1px solid rgba(69,93,122,.8);
				padding: 12px 4px;
				margin-bottom: 12px;
				@include clearfix();
				> * {
					display: inline-block;
					float: left;
				}
				img {
					width: 80px;
					height: 80px;
					margin-left: 15px;
					@include border-radius(50%);
				}
				.event {
					padding: 0 15px 0 20px;
					width: calc(100% - 70px - 35px);
					@include pad() {
						padding: 0 1px 0 15px;
					}
					h2 {
						margin-bottom: 5px;
						font-size: 16px;
						line-height: 30px;
						color: $color-3;
						@include pad() {
							font-size: 14px;
							line-height: 25px;
						}
						&:first-child {
							border-bottom: 1px solid rgba(0,0,0,.2);
						}
					}
				}
				span {
					position: absolute;
					color: $color-3;
					bottom: 10px;
					right: 16px;
					@include transition(right, .3s, color, .3s);
				}

				&:hover {
					@include border-radius(4px);
					box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
					background-color: rgba(250,250,250,.5);
					span {
						color: $color-4;
						right: 8px;
					}
				}
			}
		}
		.info-detail {
			// width: calc(50% - 8px);

			// display: none;
			@include bigPhone() {
				display: none;
			}
			.header {
				border-bottom: 2px solid rgba(0,0,0,.2);
				display: block;
				width: 100%;
				> * {
					width: auto;
					display: inline-block;
				}
				header {
					width: calc(100% - 160px);
					color: $color-4;
					margin-bottom: 10px;
					font-size: 20px;
					span {
						margin-right: 10px;
					}
				}
				select {
					float: right;
					width: 160px;
					color: rgba(0,0,0,0.8);
					font-size: 16px;
					padding: 3px;
					border: 1px solid rgba(0,0,0,0.3);
					@include border-radius(4px);
					&:focus {
						border: 1px solid rgba(0,0,0,0.5);
						outline: none;
						background-color: rgba(235,235,235,.2);
					}
				}
			}
			.describe {
				padding: 8px;
				
				.describe-col {
					width: 100%;
					padding: 4px 0;
					margin-bottom: 10px;
					border-bottom: 1px solid rgba(0,0,0,0.2);
					> span {
						width: 100%;
						display: block;
					}
					.describe-title {
						font-weight: bold;
						margin-bottom: 12px;
						font-size: 18px;
						color: $color-3;
						margin: 8px 0;
						span {
							font-size: 16px;

						}
					}
					.describe-cont {
						text-indent: 20px;
						color: rgba(0,0,0,.7);
						line-height: 24px;
						margin-bottom: 4px;
						a {
							margin-left: 16px;
							color: $color-1;
							&:hover {
								@include opacity(.7);
							}
						}
					}
				}
			}
			.google-map {
    			width: 100%;
    			height: 300px;
    			.invalid-map {
    				width: 100%;
    				height: 300px;
					color: rgba(0,0,0,0.7);
					font-size: 18px;
					font-style: italic;
					background-color: rgba(0,0,0,.1);
					display: flex;
					justify-content: center;
					align-items: center;
    			}
			}
		}
	}
}